.App {
  text-align: center;
}
body{
  font-family:Arimo;
}
header{
  
  background-color: white;
  width: 100%;
  z-index: 1000;
  padding-top: 0.5%;
  padding-left: 45%;
  padding-bottom: 0.5%;
  position: fixed;
  display:flex;
  justify-content: space-around; 
  background-attachment: scroll;
  box-shadow: 4px 4px 6px rgb(221, 221, 221);
}
.menu-icons div-cog {
  color: black;
}
.menu-icons div{
    color: white;
    font-size: medium;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    
}
/* .home-back img{
  transform: none;
  height: 25vh;
  width: 50vw;
} */
/* .nav-option a{
  text-decoration: none;
  color: steelblue;
  font-size: 20px;
  text-decoration: none;
  margin:  1.5rem; 
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
}


.nav-option{
 padding-left: 35%;
 padding-right: 10%;
 padding-top: 1.1%;
 padding-bottom: 0.8%;

} */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {

  height: 80px;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding: 0 100px;
  background: white;
  color: steelblue;
}

.menu a {
  padding-left: 45%;
  height: 60%;
  font-size: 18px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-transform: uppercase;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  color: steelblue;
  text-decoration: none;
}

.menu a::before,
.menu a::after {
  content: "";
  pointer-events: none;
  position: absolute;
}


.menu1 a::before,
.menu1 a::after {
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  bottom: 0%;
  right: 0%;
}


.menu1 a::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
}


.menu1 a::after {
  border-top-width: 2px;
  border-right-width: 2px;
}

.menu1 a:hover {
  color: steelblue;
}

.menu1 a:hover::before,
.menu1 a:hover::after {
  border-color: steelblue;
  transition: border-color 0s, width 0.3s, height 0.3s;
  width: 100%;
  height: 100%;
}

.menu1 a:hover::before {
  transition-delay: 0s, 0s, 0.3s;
}

.menu1 a:hover::after {
  transition-delay: 0s, 0.3s, 0s;
}


#menu-bar{
 display: none;
}
.logo i {
  color: red;
  padding-left: 30px;
  font-size: 40px;
}


.media {
  display: flex;
  align-items: flex-start;
}

.media .content {
  flex: 1;
  padding-top: 50vh;
}

 

.play-btn {
  width: 100px;
  height: 100px;
  background: radial-gradient( steelblue 60%, rgba(255, 255, 255, 1) 62%);
  border-radius: 50%;
  position: absolute;
  display: block;
  margin:30px auto;
  box-shadow: 0px 0px 25px 3px rgb(62, 97, 124);
  cursor: pointer;
}

.play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #fff;
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.play-btn:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(203, 200, 200, 0.75);
  top: -30%;
  left: -30%;
  background: rgba(198, 16, 0, 0);
  background: radial-gradient( rgb(106, 152, 189) 60%, rgba(255, 255, 255, 1) 62%);

}

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}


.services{
  width: 100%;
  background-color: white;
}

.serives-heading h1{
  text-align: center;
  font-size: 40px;

  padding-top: 9rem;
}

.serives-heading h1 span{
  color: steelblue;
}

.main-services{
  background-attachment: scroll;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 5rem;

}

.main-inner-services{
  flex: 1 1 300px;
    margin: 50px;
    /* flex: 10%; */
    background-color: rgb(214, 224, 232);
    position: relative;
    box-shadow:  0 0 8px 8px rgb(204, 203, 203);
    /* border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px; */
    
}
.main-inner-services .service-img img{
  width: 100%;
  height: 300px;
  /* border-radius: 10%; */
  justify-content: center;
  /* padding: 1rem; */
}
.main-inner-services .services-content{
  text-align: justify;
  font-size: smaller;
  padding: 1rem;
    
  } 

  .services-content h2{
    font-size: 22px;
    padding-bottom: 0.5rem;
  }

  .services-content p{
    line-height: 1.5rem;
    padding-bottom: 0.5rem;

  }
  .services-content a{
    padding: 0.3rem 0.5rem; 
    border-radius: 10px;
    font-size: 0.8rem;
    background-color: steelblue;
    text-decoration: none;
    color: white;
    margin: 2rem 0; 
    transition: 0.8s;
  }
  .services-content a:hover {
    box-shadow: 4px 4px 3px rgb(141, 141, 141);
    border-radius: 0;
  }
/* 
.main-services{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

}
.main-inner-services{
  flex: 1 1 300px;
  padding: 1rem;
}

.main-inner-services .service-img img{
  width: 100%;
  height: 300px;
  
}
.main-inner-services .services-content{
text-align: justify;
  
} */

.our-experts{
  /* padding: 0.8rem; */
  width: 100%;

  /* background-color: rgb(168, 167, 167); */
}
.experts-heading{
 text-align: center;

}
.experts-heading h1{
  font-size: 40px;
}
.experts-heading h1 span{
  color: steelblue;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper{
  padding-bottom: 3rem;
}
.expert-content h4{
   font-size: 30px;
   font-weight: 300;
   padding-bottom: 1rem;
    color: steelblue;
    /* padding: 2rem 0; */ 
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  
}

.swiper-slide img {
  padding-top: 0.8rem;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* .swiper-mySwiper{
  padding-bottom: 9rem;
} */

.our-experts{
  padding-top: 3rem;
  padding-bottom: 5rem;
  background-color: #ebeaea;
}
.our-experts .experts-heading h1{
  padding-bottom: 3rem;
}
.social-media{
  font-size: 22px;
}
.social-media i{
  margin: 0rem 0.5rem ;
  color: white;
  background-color: steelblue;
  padding: 0.5rem;
  border-radius: 10%;
  transition: 0.10s;
  font-size: 1rem;
}
.social-media i:hover{
  transform: scale(1.1) rotate(360deg);
  /* transform: scale(1.1) ; */
  /* font-size: 22px; */
  cursor: pointer;
}
.swiper-image img{
  height: 45vh;
  width: 30vw;
}
 

/* .review .review-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
} */

.review .review-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 10rem;
}

.review .review-container .box{
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
  border: 1rem solid white;
  /* box-shadow: -.5rem 1rem rgb(155, 154, 154); */
  border-radius: 0.5rem;
  flex: 1  1 30rem;
  background: rgb(214, 224, 232);
  margin-top: 4rem;
  box-shadow: 0 0 5px 5px rgb(204, 203, 203);
  border-bottom-right-radius: 15px;
}

.review .review-container .box img{
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  border: 0.5rem solid rgb(255, 255, 255);
  margin-top: -6rem;
  object-fit:cover;

}
.review h1{
  padding-top: 6rem;
  padding-bottom: 3rem;
  font-size: 40px;
  text-align: center;
}
.review h1 span{
  color: steelblue;
}
.review .review-container .box .customer-name{
  font-size: 20px;
  color: rgb(66, 124, 171);

  /* padding: 0.5rem 0; */
}
.review .review-container .box .stars i{
  font-size: 20px;
  color: rgb(102, 102, 102);
  /* padding: 0.5rem 0; */
}

.review .review-container .box .customer-review{
  font-size: 15px;
  color: black;
  /* padding: 0.3rem 0; */
  text-align: justify;
  line-height: 1.3rem;
  margin: 15px;
  /* flex: 10%; */
  background-color: rgb(214, 224, 232);
  position: relative;
}

.contact-details{
  margin-top: 5rem;
}

.footer{
  padding-top: 6rem;
  padding: 3rem 7%;
  background-color: rgb(113, 156, 192);
  color: white;
  height: 30vh;
}
.main-footer{
   display: block;
   align-items: center;
   flex-wrap: wrap;
   gap: 1.5rem;

}
.main-inner-footer{
  flex: 1 1 300px;
}

.footer-heading{
  font-size: 30px;
  color: white;
}
.candidate a{
  display: block;
  padding: 0.5rem;
  font-size: 15px;

  
}


@media (max-width:768px) {
  html{
    font-size: smaller;
  }
  header{
    padding: 2rem;
  }
  #menu-bar{
    display: initial;
   }
   nav{
    position: absolute;
    top: 100%;
    left: -200%;
    background: steelblue;
    width: 100%;
    height: 100vh ;

   }
   .nav-option a{
    display: flex;
    align-items: center;
    padding: 1.5rem;
    margin: 1rem;
   }
}

